<!-- <div class="tab1" >
  <h3>NGO</h3>
</div>
<div>
<span>
 <md-icon>more _vert</md-icon> 
 <div style= "float:left;" class="tab"  >
  <button class="tablinks" >User Management </button>
  <button class="tablinks" >Event Management</button>
  <button class="tablinks" >User view</button>
</div>

 <div id="mainndiv" style= "float:right;" class="tabcontent">
  <h3>User Management</h3>
  <p></p>
</div>
</span> 
</div>
<mat-drawer-content></mat-drawer-content> -->
<!-- <mat-toolbar color = "primary">
  <span>
        
  </span>
  
 </mat-toolbar
<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>
<mat-toolbar color="primary">
  <span>Application Title</span>

   This fills the remaining space of the current row 
  <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</mat-toolbar>
<mat-checkbox>subcribe</mat-checkbox>
<nav id="basic-tab-bar" class="mdc-tab-bar">
  <a class="mdc-tab mdc-tab--active" href="#one">
    Home
    <span class="mdc-tab__indicator"></span>
  </a>
  <a class="mdc-tab" href="#two">
    Merchandise
    <span class="mdc-tab__indicator"></span>
  </a>
  <a class="mdc-tab" href="#three">
    About Us
    <span class="mdc-tab__indicator"></span>
  </a>
</nav> -->

<!-- <app-admin></app-admin> -->

<!-- <div id="usermanagement" class="tabcontent">
  <h3>User Management</h3>
  <p></p>
</div>

<div id="eventmanagement" class="tabcontent">
  <h3>Event Management</h3>
  <p></p> 
</div>

<div id="userview" class="tabcontent">
  <h3>User View</h3>
  <p></p>
</div> -->

